DATABASE_URL="postgres://postgres:password@postgres/postgres"
GOOGLE_JWT_AUDIENCE="foobar.apps.googleusercontent.com"
GOOGLE_JWT_ISSUERS="accounts.google.com https://accounts.google.com"
ROCKET_ADDRESS="0.0.0.0"
ROCKET_PORT=8001
CORS_ALLOWED_ORIGINS="http://localhost"
JWT_SECRET="<secret>"
